#modal-delete.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %h3.modal-title
          Delete Loan Product
      .modal-body
        .modal-body-content
          .bs-callout.bs-callout-info
            Are you sure you want to delete this loan product?
          .message
      .modal-footer
        .controls
          %button#btn-confirm-delete.btn.btn-primary
            .fa.fa-check
            Confirm
          %button.btn{"data-bs-dismiss" => "modal", :type => "button"}
            .fa.fa-times
            Cancel
