%ol.breadcrumb
  %li.breadcrumb-item
    = link_to administration_surveys_path do
      .fa.fa-file
      Surveys
  %li.breadcrumb-item
    .fa.fa-file
    Survey: #{@survey.name}
  %li.breadcrumb-menu.d-md-down-none
    .btn-group
      = link_to "#", class: 'btn', id: "btn-delete" do
        .fa.fa-minus
        Delete
