#modal-nav-interest.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %h3.modal-title
          Interest Modules
      .modal-body
        .row
          .col-12
            = link_to "/data_stores/icpr", class: "btn-nav-square-md" do
              Interest on Share Capital
        .mt-4
        .row
          .col-12
            = link_to "/data_stores/patronage_refund", class: "btn-nav-square-md" do
              Patronage Refund
