#modal-inv-trans.modal.fade
  .modal-dialog.modal-xl
    .modal-content
      .modal-header
        %h3.modal-title 
          Administration
      .modal-body
        .row
          .mt-4
          .row
            .col
              = link_to "/borrow_items", class: "btn-nav-square-md" do
                Borrow
          .mt-4
          .row
            .col
              = link_to "/item_request", class: "btn-nav-square-md" do
                Request
