#modal-nav-reports-modal.modal.fade
  .modal-dialog.modal-xl
    .modal-content
      .modal-header
        %h3.modal-title{ style: "font-size: 1.5rem;" }
          Ticket
      .modal-body
        .row
          .col
            = link_to "#", class: "btn-nav-square-md", style: "font-size: 1rem;" do
              System Tickets
          .col
            = link_to "#", class: "btn-nav-square-md", style: "font-size: 1rem;" do
              Concern Tickets
