#modal-send-forgot-password.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %h3.modal-title
          Forgot Password
      .modal-body
        .row
          .col
            .form-group
              %label
                Email
              %input#input-email.form-control{ placeholder: "Email" }
            #message-modal
      .modal-footer
        %button#btn-send-email.btn.btn-primary
          Send
        %button.btn.btn-secondary{ "data-bs-dismiss" => "modal", type: "button" }
          Cancel
