#modal-nav-visualize.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %h3.modal-title 
          Visualize
      .modal-body
        = link_to visualize_monthly_psr_path, class: "btn-nav-square-md" do
          Yearly PSR
        .mt-4
