= title 
.row
    .col 
        %h3{ style: 'font-weight: bold' }
            CONCERN TICKET
        .card 
            .card-body
            -# = render partial: "index_filter"
            = render partial: "index_list"
