.card
  .card-body
    %h5.text-muted
      BRANCHES
    .table-responsive
      %table.table-bordered.table
        %thead
          %tr
            %th Name
            %th Short Name
            %th Action
        %tbody
          - @cluster.branches.each do |branch|
            %tr
              %td= branch.name
              %td= branch.short_name
              %td
                = link_to administration_branch_path(branch.id), class: "btn btn-primary btn-xs", target: "_blank " do
                  Details
