%table#data-table.display.table.table-bordered.table-hover.table-sm
  %thead
    %tr
      %th
        Name
      %th
        Description
      %th.text-center
        status
      %th.text-center{style: 'width:10%'}
        Actions
  %tbody
    - @computer_system_list.each do |a|
      %tr
        %td{ style: "text-transform: uppercase;" }
          #{a.name}
        %td{ style: "text-transform: uppercase; word-wrap: break-word; white-space; normal; max-width: 300px;"}
          #{a.description}
        %td.text-center
          - if a[:status] == "active"
            .badge.bg-success
              active
        %td.text-center
          %button.btn.btn-info.btn-sm.update-button{
            data: {
              id: a.id,
              name: a.name,
              description: a.description,
              status: a.status
            }
          }
            Update
          %button.btn.btn-sm.btn-danger.delete-button{
            data: { id: a.id }
          }
            .fa.fa-times
            Delete
