- @cs = ComputerSystem.all

.card.some{:style=>"padding:1%"}
    %h2
        System Tickets
    %hr{:style=>"height:20px"}
        .row
            -@cs.each do |x|
                .col-3{:style=>"padding:20px"}
                    = link_to "/system_tickets_#{x.id}", class: "btn-nav-square-md" do
                        %h5
                            #{x.name}