.card.some{:style=>"padding:1%"}
    %h2
        System Tickets
    %hr{:style=>"height:20px"}
        .row
            -if @tickets.empty?
                %center
                    %h2
                        No system tickets found.
            -else
                -@computer_systems.each do |x|
                    .col-3{:style=>"padding:20px"}
                        %div
                            = link_to "/system_tickets_#{x[1]}", class: "btn-nav-square-md" do
                                %h5
                                    #{x[0]}
                        %div{:style=>"margin:20px"}
                            %center
                                =link_to "#" do
                                    %p
                                        Edit Members
                                    