<script id="success-template" type="x-tmpl-mustache">
  <div class='bs-callout bs-callout-success'>
    <ul>
      {{#messages}}
        <li>{{.}}</li>
      {{/messages}}
    </ul>
  </div>
  <hr>
</script>

