%nav.navbar.navbar-expand-lg.navbar-light.sticky-top{ style: "background-color: #00852f" }
  .container-fluid{style:"width:10%"}
    = link_to "#", class: "navbar-brand" do
      %i.bi.bi-menu.bi-list
    = link_to "#", class: "navbar-brand", style:"color:white;font-size:100%", id:"new-tix", data: { "bs-toggle": "modal", "bs-target": "#modal-new-tix" } do
      New Ticket
    = render partial: "shared/subheader", locals: { side_actions: @subheader_side_actions  || [] }
  .container-fluid
