%nav.navbar.navbar-expand-lg.navbar-light.sticky-top{ style: "background-color: #1d1b31" }
  .container-fluid
    = link_to "#", class: "navbar-brand" do
      %i.bi.bi-menu.bi-list
    = render partial: "shared/subheader", locals: { side_actions: @subheader_side_actions  || [] }
  .container-fluid
