#modal-new.modal.fade{ tabindex: "-1" }
  .modal-dialog
    .modal-content
      .modal-header
        %h5.modal-title New Concern
      .modal-body
        %form{ action: concern_tickets_path, method: "post" }
          .form-group
            %label{ for: "concern_name" } Concern Name
            %input#concern_name.form-control{ type: "text", name: "concern[name]", placeholder: "Enter Concern" }
          .form-group
            %label{ for: "computer_system" } Computer System
            %select#computer_system.form-control{ name: "concern[computer_system_id]" }
              %option{ value: "" } -- Select System --
              -# - @computer_systems.each do |system|
              -#   %option{ value: system.id }= system.name
          -# .form-group
          -#   %label{ for: "assigned_person" } Assigned Person
          -#   %select#assigned_person.form-control{ name: "concern[user_id]" }
          -#     %option{ value: "" } -- Select Person --
              -# - @users.each do |user|
              -#   %option{ value: user.id }= user.name
      .modal-footer
        %button#btn-confirm.btn.btn-primary Confirm
        %button.btn.btn-secondary{ "data-bs-dismiss" => "modal" } Cancel
