.card.some{:style=>"padding:1%"}
  %h2
    New Ticket for #{ComputerSystem.find(SystemTicket.find(params[:id]).computer_system_id).name}
  =form_tag "create_systemtix", multipart: true, method: 'POST' do
    %table.table{:style=>"border-color:white;font-size:110%"}
      %tr
        %td
          %label
            Subject
          .form-group
            =text_field_tag :title,params[:title],class:'form-control',required:true
          .form-group
            =text_field_tag :id,params[:id],class:'form-control',style:'display:none'
      %tr
        %td
          %label
            Description
          .form-group
            =text_area_tag :description,params[:description],class:'form-control',required:true            
      %tr
        %td
          %label
            Request Type
          .form-group
            =select_tag :request_type,options_for_select(["Report Request","Module Enhancement","New Module"], params[:request_type]),class:'form-control select-select2',required:true,prompt:"-- SELECT --"
      %tr
        %td
          %label
            Target Date
          .form-group
            =text_field_tag :date,params[:date],class:'form-control',style:"width:10%",required:true,type: :date
      %tr
        %td
          .form-group
            = file_field_tag :file,name:"file[]", id: "file", multiple:"true"
      %tr
        %td
          .form-group
            %div{id:"sel-mem"}
          .form-group
            =button_tag type: 'SUBMIT', class: 'btn btn-primary',onclick:"submitArray()" do
              Add Ticket              

:css
  input::file-selector-button{background-color:#0D6EFD;border:none;padding:3%;color:white;border-radius:8px;margin-right:10px}
  input::file-selector-button:hover{background-color:#0B5ED7;cursor:pointer;transition-duration: 0.4s;}

  

