#modal-approve.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h3.modal-title
          Approve Record
      .modal-body
        .modal-body-content
          .bs-callout.bs-callout-info
            Are you sure you want to approve this record?
          .message
      .modal-footer
        .controls
          %button#btn-confirm-approve.btn.btn-primary
            .fa.fa-check
            Confirm
          %button.btn{"data-bs-dismiss" => "modal", :type => "button"}
            .fa.fa-times
            Cancel
