#modal-generate-accounting-report.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h3.modal-title
          Generate Accounting Report
      .modal-body
        .modal-body-content
          .alert.alert-info
            Creates Trial Balance and General Ledger
          .row
            .col
              .form-group
                %label
                  Branch
                = select_tag :branch_id, options_from_collection_for_select(@branches, :id, :name, @branch.try(:id)), class: "form-control select-select2 x-form-control", id: "select-acc-report-branch", prompt: "-- SELECT --"
          .row
            .col
              .form-group
                %label
                  Accounting Fund
          .row
            .col-md-6.col-sm-12
              .form-group
                %label
                  Start Date
                = text_field_tag :start_date, Date.new(Date.today.year, Date.today.month, 1), type: :date, id: "input-acc-report-start-date", class: 'form-control x-form-control'
            .col-md-6.col-sm-12
              .form-group
                %label
                  End Date
                = text_field_tag :end_date, Date.new(Date.today.year, Date.today.month, -1), type: :date, id: "input-acc-report-end-date", class: 'form-control x-form-control'
              
          .message
      .modal-footer
        .controls
          %button#btn-confirm-generate-accounting-report.btn.btn-primary.x-form-control
            .fa.fa-check
            Confirm
          %button.btn.x-form-control{"data-bs-toggle" => "modal", "data-bs-target" => "#modal-generate-accounting-report", :type => "button"}
            .fa.fa-times
            Cancel
