.row
  .col
    .card
      .card-body
        %h5
          Change / Update Password
        %hr
        .form-group
          %label
            Password:
          = password_field_tag :password, "", class: "form-control", placeholder: "Password", id: "input-password"
        .form-group
          %label
            Password Confirmation:
          = password_field_tag :password_confirmation, "", class: "form-control", placeholder: "Password Confirmation", id: "input-password-confirmation"
        %hr
        .message
        #btn-save.btn.btn-block.btn-primary
          .fa.fa-check
          Update Password

= render partial: "templates/error_list"
