.card
  .card-body
    #react-root

= render partial: "dashboard/modals/generate_daily_report"
= render partial: "dashboard/modals/generate_accounting_report"
= render partial: "templates/error_list"
= render partial: "templates/success_message"
