#modal-main-dev.modal.fade
    .modal-dialog
        .modal-content
            .modal-header
                %h3.modal-title 
                    Edit Main Dev
            .modal-body
                =form_tag "",method: 'POST' do 
                    %table.table{:style=>"border-color:white;font-size:110%"} 
                        %tr
                            %th{:style=>"width:30%"}
                                %p
                                    Current Main Dev
                            %td
                                %p
                                    placeholder
                        %tr          
                            %th
                                %p
                                    New Main Dev
                            %td
                                .form-group
                                    =select_tag :status,params[:status],class:'form-control select-select2',prompt:"-- SELECT --"
                        %tr
                            %td
                                .form-group
                                    =button_tag type: 'submit', class: 'btn btn-primary' do
                                        Save 