#modal-main-dev.modal.fade
    .modal-dialog
        .modal-content
            .modal-header
                %h3.modal-title 
                    Edit Main Dev
            .modal-body
                =form_tag "set_maindev",method: 'POST' do 
                    %table.table{:style=>"border-color:white;font-size:110%"} 
                        %tr
                            %th{:style=>"width:40%"}
                                %p
                                    Current Main Dev
                            %td
                                %p
                                    -case @maindev
                                    -when ""
                                        None
                                    -else
                                        #{@maindev[0]}
                        %tr          
                            %th{:style=>"width:40%"}
                                %p
                                    New Main Dev
                                .form-group
                                    =text_field_tag :id,params[:id],class:'form-control',style:'display:none'
                            %td
                                .form-group
                                    =select_tag :maindev,options_for_select(@mem_list_dev, params[:maindev]),class:'form-control select-select2',prompt:"-- SELECT --",required:true
                        %tr
                            %td
                                .form-group
                                    =button_tag type: 'submit', class: 'btn btn-primary' do
                                        Save 