#modal-members.modal.fade
    .modal-dialog.modal-xl
        .modal-content
            .modal-header
                %h3.modal-title 
                    Edit Members
            .modal-body
                =form_tag "",method: 'POST' do 
                    %table.table{:style=>"border-color:white;font-size:110%"} 
                        %tr
                            %th{:style=>"width:20%"}
                                %p
                                    Current Members
                            %td
                                %p
                                    placeholder
                            %td
                                .form-group
                                    =select_tag :status,params[:status],class:'form-control select-select2',style:"width:50%;margin-top:-6px",prompt:"-- SELECT --"
                            %td
                                = link_to "#",{:style=>"color:red"} do
                                    Remove
                        %tr
                            %th
                                %p
                            %td
                                %p
                                    placeholder
                            %td
                                .form-group
                                    =select_tag :status,params[:status],class:'form-control select-select2',style:"width:50%;margin-top:-6px",prompt:"-- SELECT --"
                            %td
                                = link_to "#",{:style=>"color:red"} do
                                    Remove
                        %tr
                            %td
                                .form-group
                                    =button_tag type: 'submit', class: 'btn btn-primary' do
                                        Save            
                    %hr                
                    %table.table{:style=>"border-color:white;font-size:110%"}
                        =form_tag "",method: 'POST' do                                                   
                            %tr          
                                %th{:style=>"width:20%"}
                                    %p
                                        New Member
                                %td
                                    .form-group
                                        =select_tag :status,params[:status],class:'form-control select-select2',prompt:"-- SELECT --"
                            %tr          
                                %th
                                    %p
                                        Task
                                %td
                                    .form-group
                                        =select_tag :status,params[:status],class:'form-control select-select2',prompt:"-- SELECT --"
                            %tr
                                %td
                                    .form-group
                                        =button_tag type: 'submit', class: 'btn btn-primary' do
                                            Add