#modal-set-start-date.modal.fade
    .modal-dialog
        .modal-content
            .modal-header
                %h3.modal-title 
                    Set Start Date
            .modal-body
                %hr{style:"height:25px;color:white"}
                %center
                    = form_tag "set_start_date", method: 'POST' do
                        .form-group
                            =text_field_tag :date,params[:date],class:'form-control',style:"width:60%",required:true,type: :date
                        .form-group
                            =text_field_tag :id,params[:id]=@ticket.id,class:'form-control',style:'display:none'  
                        %hr{style:"height:30px;color:white"}
                        .form-group
                            =button_tag type: 'submit', class: 'btn btn-primary',onclick:"submitArray()",id:"sub-btn" do
                                Set Date