.row
  .col
    .card
      .card-body
        = render partial: "index_filter"
        - if @membership_types.any?
          = render partial: "index_list"
        - else
          %p
            No membership_types found
        = paginate @membership_types
