%table.table.table-bordered.table-sm.table-hover
  %thead
    %tr
      %th
        Name
      %th
        Code
      %th
        Project Type Category
  %tbody
    - @project_types.each do |o|
      %tr
        %td
          = link_to administration_project_type_path(o.id) do
            %strong
              #{o.name}
        %td
          #{o.code}
        %td
          #{o.project_type_category}

