:css
  @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");

.row
  .col
    .card
      .card-header
        %h3.card-title Unreleased Items
      .card-body
        - if @inventory_distributions.present? && @inventory_distributions.any?
          = render partial: "index_list"
        - else
          %p No records found
