%table.table.table-bordered
  %thead
    %tr
      %th Category
      %th Sub Category
      %th Code

      %th.text-center Actions
  %tbody
    - if @items_category_list.present?
      - @items_category_list.each do |a|
        %tr{ data: { id: a.id } }
          %td{ style: "text-transform: uppercase;" }= a.code
          %td= a.items_category&.name
          %td{ style: "text-transform: uppercase; word-wrap: break-word; white-space: normal; max-width: 300px;" }= a.name
          %td.text-center
            %button.btn.btn-info.btn-sm.update-button{
              data: {
                id: a.id,
                code: a.code,
                name: a.name,
                category_id: a.category_id
              }
            } Update
            %button.btn.btn-sm.btn-danger.delete-button{
              data: { id: a.id }
            }
              %i.fa.fa-times
              Delete
    - else
      %tr
        %td{ colspan: "4" } No subcategories available.
